.OrderContainer {
    margin: 50px auto;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid #9b9aa2;
    padding: 20px;
    border-radius: 10px;
}