.button {
    padding: 10px 15px;
    background: #2f98e6;
    border: 0;
    border-radius: 5px;
    outline: none;
    color: #fff;
    margin: 5px;
    box-shadow: 4px 7px 14px -5px rgba(0,0,0,0.69);
    text-transform: uppercase;
    width: 80px;
}

.button:hover {
    cursor: pointer;
    box-shadow: inset -5px -4px 42px -2px rgba(0,0,0,0.69);
}