.Details {
    border: 1px solid #9b9aa2;
    border-radius: 10px;
    padding: 15px;
}

.totalPrice {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}

.item {
    margin-bottom: 10px;
}

.deleteOrder {
    border: 0;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 13px;
    color: #fff;
    background: #ff3410;
    outline: none;
    box-shadow: 4px 7px 14px -5px rgba(0,0,0,0.69);
}

.deleteOrder:hover {
    cursor: pointer;
    box-shadow: inset -5px -4px 42px -2px rgba(0,0,0,0.69);
}

.order {
    padding: 5px 10px;
    border: 1px solid #9b9aa2;
    border-radius: 5px;
    margin-bottom: 5px;
}

.price {
    margin-right: 10px;
}

.getTotal {
    font-size: 18px;
}